body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a4a86; 
    height: 250px; 
    padding: 20px;
}

.logo-section img {
    max-width: 100%;
    height: auto;
    max-height: 200px; 
}

/* Vision & Mission Section */

.vision-mission {
    display: flex;
    justify-content: space-between;
    padding: 22px;
}

.box {
    width: 45%;
    text-align: center;
}

.title-image {
    width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.box h2 {
    font-size: 24px;
    font-weight: bold;
}

.box h2 span {
    color: black;
    font-weight: bold;
}

.box p {
    font-size: 20px;
    font-family: 'Playfair Display', Georgia;
    color: #150b33;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    color: #11aec6; 
    font-family: 'Playfair Display', Californian FB; 
}
